<div class="jumbotron">
  <h2>选择业务类型</h2>
<div class="form-group">
  <ui-select multiple ng-model="bizTypes" theme="select2"  style="width: 500px;">
    <ui-select-match placeholder="Select biz type...">{{$item.text}}</ui-select-match>
    <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="100" repeat="type in availableTypes | filter:$select.search">{{type.text}}
    </ui-select-choices>
  </ui-select>

</div>
  <p><a class="btn btn-lg btn-success" ui-sref="scenarioList">下一步<span class="glyphicon glyphicon-ok"></span></a></p>
</div>






