<div class="row">
  <div class="col-md-12" style="border-bottom:1px solid #E5E9EC; margin-bottom:30px">

    <form class="form-inline" ng-submit="search()" style="margin: 30px 30px ;">
      <div class="form-group">
        <label for="scenarioName" style="margin-right:10px;">场景名称</label>
        <input type="text" id="scenarioName" ng-model="scenarioName" class="form-control">
      </div>
      <div class="form-group">
        <label for="bizType" style="margin-right:10px;">业务类型</label>
        <input type="text" id="bizType" ng-model="bizType" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left:10px;">搜索</button>
    </form>
  </div>
  <table class="table table-hover">
    <thread>
      <tr>
        <th>序号</th>
        <th>场景名称</th>
        <th>业务类型</th>
        <th>操作</th>
      </tr>
      <tbody>
      <tr ng-repeat="scenario in scenarioList">
        <td>{{$index+1}}</td>
        <td class="showScenarioBox" ng-click="showScenarioBox(scenario.id)">{{scenario.name}}</td>
        <td><input type="checkbox" ng-checked="scenario.isSelected" ng-click="selectStatus(scenario)"/></td>
        <td>{{scenario.isConfig ? '已配置' : '未配置'}}</td>
      </tr>
      </tbody>
    </thread>
  </table>
  <p><a class="btn btn-success pull-right"  ng-click="save()">保存<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-info pull-right"  ui-sref="editWorkflow">新增<span class="glyphicon glyphicon-plus"></span></a></p>

</div>
