.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.scenarioBox{
  border-radius:10px;
  width:720px;
  height:500px;
  position:absolute;
  left:50%;
  top:30%;
  margin-left:-360px;
  background-color: #ffffff;
  padding:10px 35px;
  z-index:90;
}
.showScenarioBox:hover {
  background-color: gray;
  color: white;
  cursor:pointer;
}
.scenarioBoxBg{
  opacity:0.8;
  background-color:#f4f4f4;
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:80;
}

.workflow_item{
  cursor:pointer;
  position:absolute;background:#DDE7F4 url(../images/gooflow_btn_bg.png) repeat-x 0px -72px;border:#7DA2CE solid 1px;
  -moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;color:#15428B;background-color:#C1DCFC;
  box-shadow:1px 1px 2px rgba(148,170,194,2);-webkit-box-shadow:1px 1px 2px rgba(148,170,194,2);-moz-box-shadow:1px 1px 2px rgba(148,170,194,2);
}
.ico_tool {
  background:url(../images/tool.png) no-repeat;
}
.ico_subject {
  background:url(../images/subject.png) no-repeat;
}
.ico_object {
  background:url(../images/object.png) no-repeat;
}
.ico_resource {
  background:url(../images/resource.png) no-repeat;
}
b {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.buttons {
  position: absolute;
  top: 460px;
  left: 550px;
}
.configBox {
  position: absolute;
  top: 210px;
  left:30px;
  border: 1px solid;
  width: 660px;
  height:180px;
}
.scenarioDescription{
  position: absolute;
  top: 180px;
  left:30px;
  width: 660px;

}
